.header__lang-link_ru {
  text-decoration: underline;
  margin-right: 12px;
  color: #FFFFFF;
  transition: 0.4s ease;
}

@media screen and (max-width: 380px) {
  .header__lang-link_ru {
    text-decoration: underline 2px;
  }
}

.header__lang-link_ru:hover {
  opacity: 0.8;
}
