.header__lang-link_active {
  text-decoration: underline;
  color: #FFFFFF;
  transition: 0.4s ease;
}

@media screen and (max-width: 380px) {
  .header__lang-link_active {
    text-decoration: underline 2px;
  }
}
