.header__lang-links {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  align-self: flex-end;
  margin-bottom: 4px;
}

@media screen and (max-width: 380px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 6px;
  }
}
